<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021676416802-0c2oqooj1lifh6i9f556k4ehahoj5b80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021676416802-0c2oqooj1lifh6i9f556k4ehahoj5b80</string>
	<key>API_KEY</key>
	<string>AIzaSyBRPKfkPFO3-QeKzTSbkmG67Q9JazMFUeA</string>
	<key>GCM_SENDER_ID</key>
	<string>1021676416802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.kadumcs16.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1424a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1424a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021676416802:ios:c7617cac15be44892bbf7b</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-1424a.firebaseio.com</string>
</dict>
</plist>